body {
  font-family: "RobotoDraft";
  font-weight: 300;
/*  -ms-touch-action: none;
   touch-action: none;*/
}

.full{
  position: absolute;
  top:0;
  right:0;
  bottom:0;
  left:0;
}

div#mainTitle{
  width:95%;
  }

core-animated-pages {
  width: 100%;
  height: 100%;
  -webkit-user-select: none;
  overflow: hidden;
}

core-animated-pages > * {
  border-radius: 5px;
  font-size: 50px;
  background-color: white;
}

body /deep/ core-toolbar {
  background-color: #03a9f4;
  color: #fff;
}

html /deep/ core-icon{
  width: 36px !important;
  height: 36px !important;
}

core-menu {
  color: #01579b;
  margin: 10px 0 0 0;
  overflow-y:scroll;
}

core-menu > paper-item {
  transition: all 300ms ease-in-out;
}

core-menu > paper-item.core-selected {
  background: #e1f5fe;
}

@media all and (max-width: 480px) {
  core-animated-pages {
    width: 100%;
    height: 100%;
  }
}
google-map{}